.fruits{
    border: 2px solid fuchsia;
    text-align: center;
    padding: 30px;
    margin: 15px;
    color: darkslateblue;
}
.cars{
    border: 3px solid #382ac4 ;
    text-align: center;
    padding: 30px;
    margin: 15px;
    color: #edea08;
}
.Fruits{
    border: 3px solid #382ac4 ;
    text-align: center;
    padding: 30px;
    margin: 15px;
    color: midnightblue;
}
#school{
    border: 4px solid #3ac40b;
    text-align: center;
    padding: 30px;
    margin: 15px;
    color: maroon;
}
.myform{
    border: 4px solid chocolate;
    text-align: left;
    padding: 30px;
    margin: 15px;
    color: maroon;
    font-family: "Arial Rounded MT Bold";
    background-color: antiquewhite;
}